<md-dialog aria-label={{card.name}}>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{card.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
         <md-tabs md-border-bottom>
             <md-tab label="Card Info">
                 <md-content class="md-padding">
                    <h1>Card Info</h1>
                    <div>Card Name: {{card.name}}</div>
                    <div>Mana Cost: {{card.manaCost}}</div>
                    <div>CMC: {{card.cmc}}</div>
                    <div>Type: {{card.type}}</div>
                    <div>Text: {{card.text}}</div>
                    <div>P/T: {{card.power}}/{{card.toughness}}</div>
                    <div>Rarity: {{card.rarity}}</div>
                    <div>Artist: {{card.artist}}</div>
                    <div>{{card.flavor}}</div>
                </md-content>
            </md-tab>
            <md-tab label="Rulings">
                <md-content class="md-padding">
                <h1>Rulings</h1>
                <p>Rulings go Here</p>
                </md-content>
            </md-tab>
            <md-tab label="Legality">
                <md-content class="md-padding">
                <h1>Legality</h1>
                <p>Legal goes Here</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary md-raised" ng-click="answer('not useful')">
       Add To Deck
      </md-button>
      <md-button class="md-primary md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
