<md-dialog aria-label={{card.name}} flex layout="column">
  <form ng-cloak>
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>{{card.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="public/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <!-- <md-tabs md-dynamic-height md-border-bottom> -->
            <!-- <md-tab label="Card Info"> -->
                <md-content class="md-padding card-info">
                    <img ng-if="card.multiverseid" ng-src="{{getCardImageURL(card.multiverseid)}}" class='cardArt'></img>
                    <table>
                        <tbody>
                            <tr ng-if="card.manaCost">
                                <th>Mana Cost</th>
                                <td><img ng-repeat="mana in card.manaList track by $index" src="public/mana/{{mana}}.jpg" /></td>
                            </tr>
                            <tr ng-if="card.cmc">
                                <th>CMC</th>
                                <td>{{card.cmc}}</td>
                            </tr>
                            <tr ng-if="card.type">
                                <th>Type</th>
                                <td>{{card.type}}</td>
                            </tr>
                            <tr ng-if="card.text">
                                <th>Text</th>
                                <td>
                                    <ng-repeat ng-repeat="part in card.manaText track by $index">
                                        <img ng-if="part.mana" src="public/mana/{{part.value}}.jpg" />
                                        <ng-if ng-if="!part.mana">{{part.value}}</ng-if>
                                    </ng-repeat>
                                </td>
                            </tr>
                            <tr ng-if="card.power || card.toughness">
                                <th>P/T</th>
                                <td>{{card.power || '0'}}/{{card.toughness || '0'}}</td>
                            </tr>
                            <tr ng-if="card.rarity">
                                <th>Rarity</th>
                                <td>{{card.rarity}}</td>
                            </tr>
                            <tr ng-if="card.artist">
                                <th>Artist</th>
                                <td>{{card.artist}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="card.flavor">
                            <tr>
                                <td colspan="2">{{card.flavor}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </md-content>
            <!-- </md-tab> -->
            <!-- <md-tab label="Rulings">
                <md-content class="md-padding">
                <h1>Rulings</h1>
                <p>Rulings go Here</p>
                </md-content>
            </md-tab>
            <md-tab label="Legality">
                <md-content class="md-padding">
                <h1>Legality</h1>
                <p>Legal goes Here</p>
                </md-content>
            </md-tab> -->
        <!-- </md-tabs> -->
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-input-container>
          <input ng-model="count" type="number"/>
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="addCard('cards')">
       Add To Deck
      </md-button>
      <md-button class="md-primary md-raised" ng-style="{display: listCount('cards') ? 'block': 'none'}" ng-click="removeCard('cards')">
       Remove From Deck
      </md-button>
      <md-button class="md-primary md-raised" ng-click="addCard('sideboard')">
       Add To Sideboard
      </md-button>
      <md-button class="md-primary md-raised" ng-style="{display: listCount('sideboard') ? 'block': 'none'}" ng-click="removeCard('sideboard')">
       Remove From Sideboard
      </md-button>
      <md-button class="md-primary md-raised" ng-click="addCard('linked', 1)">
      Link to Chat
      </md-button>
      <md-button class="md-primary md-raised" ng-style="{display: listCount('linked') ? 'block': 'none'}" ng-click="removeCard('linked', 1)">
      Remove from Linked
      </md-button>
      <md-button class="md-primary md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
