<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Main Application -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="public/deckitron.js"></script>

    <!-- Filters -->
    <script src="public/filters.js"></script>

    <!-- Chat -->
    <script src="node_modules/socket.io-client/socket.io.js"></script>
    <script src="public/room.js"></script>
    <script src="public/chat.js"></script>

    <!-- Posters -->
    <script src="public/posters.js"></script>

    <!-- Design -->
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css" />
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="node_modules/ngletteravatar/dist/ngletteravatar.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="public/deck.less" />
    <script src="node_modules/less/dist/less.min.js"></script>
    <!-- <link rel="icon" type="image/svg+xml" href="public/node.svg"> -->


    <script src="public/Raptorize-Kit/jquery-1.4.1.min.js"></script>
    <script src="public/Raptorize-Kit/jquery.raptorize.1.0.js"></script>

    <title>Deckitron</title>
</head>

<body ng-app="deckitron" ng-controller="DeckitronCore" layout="column" layout-fill>
    <div class="container" layout="row" flex>
        <!-- Filters -->
        <div ng-controller="filters" layout="row">
            <md-sidenav md-is-locked-open="true" md-whiteframe="10" id="chat" flex>
                <!-- Sidebar header -->
                <md-toolbar class="md-primary md-medium-tall" layout-align="center end" id="chat-top">
                    <div class="md-toolbar-tools" id="card list">
                        <h1>{{getSelectedList().name}}</h1>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="collapse">
                            <md-icon md-svg-icon="public/icons/left_arrow.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <!-- Filter Form -->
                <md-content layout="column" id="chat-messages">
                    <form name="filter">
                        <md-chips ng-model="convertedManaCost" name="manaCost">
                            <md-chip-template>
                                <strong>{{$chip}}</strong>
                            </md-chip-template>
                        </md-chips>
                    </form>
                </md-content>

                <!-- Card lists -->
                <md-content id="chat-bottom">
                    <md-divider inset></md-divider>
                    <md-list flex layout="column">
                        <md-list-item class="md-1-line md-primary" ng-repeat="item in cardLists" ng-class="{cardListSelected: item.selected}" ng-click="selectList(item)">
                            <div class="md-list-item-text" layout="row" layout-align="start center" flex=100>
                                <h4 class="selectableCardLists"><md-icon md-svg-icon={{item.icon}} aria-label={{item.name}} class="i36"></md-icon>{{item.name}}</h4>
                            </div>
                            <md-divider inset></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>

            </md-sidenav>
        </div>

        <!-- Card Art Wall -->
        <md-content flex id="content">
            <div ng-controller="posterwall" ng-cloak>
                <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3" md-cols-gt-md="4" md-cols-gt-md="5" md-cols-gt-lg="6" md-cols-gt-xl="5" md-row-height="1:1.4"md-gutter="8px" md-gutter-gt-sm="8px">

                    <md-grid-tile class="cardTile" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="card in cards">
                        <div class="card" >
                            <div class="middleground" md-ink-ripple="rgba(16, 16, 16, 1.0)" ng-click="cardSelected()">
                                <img src={{getCardImageURL(card.multiverseid)}}></img>
                            </div>
                        </div>
                    </md-grid-tile>

                </md-grid-list>
            </div>
        </md-content>

        <!-- Social -->
        <md-sidenav md-is-locked-open="true" md-whiteframe="10" id="social" md-disable-scroll-target="content">
            <md-content ng-controller="chat" id='chat' flex>
                <md-toolbar class="md-medium-tall" layout-align="center end" id='chat-top'>
                    <div class="md-toolbar-tools" id="userIcons">
                        <md-button class="md-icon-button" aria-label="collapse">
                            <md-icon md-svg-icon="public/icons/right_arrow.svg"></md-icon>
                        </md-button>
                        <span flex></span>
                        <div id="friendIconsContainer">
                            <span ng-repeat="user in connectedUsers" ng-if="user.id !== me.id">
                                <ng-letter-avatar data={{user.name}} shape="round" width="35px" height="35px" fontSize="30px"></ng-letter-avatar>
                            </span>
                        </div>
                        <span id='me' ng-if="me" ng-click="changeName()">
                            <ng-letter-avatar data={{me.name}} shape="round"></ng-letter-avatar>
                        </span>
                    </div>
                </md-toolbar>
                <md-content id="chat-messages">
                    <md-list>
                        <md-divider inset></md-divider>
                        <md-list-item class="md-1-line" ng-repeat="message in messages" ng-click="null">
                            <ng-letter-avatar data={{message.user.name}} shape="round" width="30" height="30" fontSize="20px"></ng-letter-avatar>
                            <span class="chatMessage">{{message.message}}</span>
                            <md-divider inset></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content id='chat-bottom'>
                    <md-divider inset></md-divider>
                    <form ng-submit="sendMessage()" layout="row">
                        <md-input-container md-no-float layout-fill layout-padding>
                            <input ng-model="newMessage" placeholder="Type Here!" class="chatInput" autocomplete="off">
                        </md-input-container>

                        <md-button type="submit" class="md-icon-button" aria-label="send">
                            <md-icon md-svg-icon="public/icons/send.svg"></md-icon>
                        </md-button>
                    </form>
                </md-content>
            </md-content>
        </md-sidenav>
    </div>
</body>

</html>
