#heading {

}
#left {

}
#right {

}
#center {

}

#cardContent {
    overflow-x:hidden;
}

*::-webkit-scrollbar-track {
    background-color: rgb(224,224,224);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(63,81,181);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(63,81,181);
}


.chatMessage {
    margin-left: 10px;
    font-size: 1em;
    line-height: 1.3em;
}

#friendIconsContainer {
    margin-top: 15px;
}

#friendIconsContainer>* {
    margin-right: 5px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250x !important;
    width: 85vw !important;
    max-width: 250px !important;
}

.chatInput {}

.i36 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-top: -3px;
}

md-icon svg {
    fill: inherit;
}

.material-icons {
    line-height: inherit !important;
}

#chat {
    display: flex;
    flex-direction: column;
}
#chat-top {
    flex-shrink: 0;
}
#chat-messages {
    flex: 1;
}
#chat-bottom {
    flex-shrink: 0;
}

md-dialog {
    z-index: 2
}

#me img {
    vertical-align: middle;
    margin-right: 3px;
}

.cardListSelected {
    background-color: rgb(63,81,181);
}

.cardTile {
}

.card {
    outline: none;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Shadow */
}

.card:focus {
    outline: none;
}

.card:hover {
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    z-index: 1;
}

.card img {
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.card img:hover {
    box-shadow: 0px 0px 15px #7986CB; /* Shadow */
    cursor:pointer;
}
.card img:active {
    backface-visibility: hidden;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Shadow */
    z-index: 0;
}

.missingPosterText {
    width: 100%;
    position: absolute;
    top: 40%;
    margin:auto;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
    pointer-events: none;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
}

.cardCount {
    font-size: 0.75em;
    line-height: 0.75em;
    text-align: center;
    color: white;
    position: relative;
    top: -40px;
    left: 10px;
    padding-top: 10px;
}

.friend {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: white;
}

.chatMessage {
    &.room {
        font-style: italic;
    }
}


.card-info {
    img.cardArt {
        float: left;
        border-radius: 5%;
        margin-right: 1em;
    }
    table {
        margin: 1em;
        th {
            width: 100px;
            text-align: right;
            padding-right: 5px;
        }
        th, td {
            vertical-align: baseline;
            padding-bottom: 5px;
        }
        tfoot td {
            padding-top: 1em;
            font-style: italic;
        }
    }
}

md-chip .title {
    display: none;
}

md-chip.md-focused .title {
    display: inline-block;
}

.md-chips, .md-chips.md-default-theme {
    md-chip {
        background-color: rgb(88,88,88);
        color: white;
        font-size: 14px;
        line-height: 2em;
        height: 2em;
        .md-chip-remove {
            height: 2em;
        }
        md-icon {
            color: white;
        }
    }
}


//
// .card img:active {
//     -webkit-transform: scale(2, 2);
//     -moz-transform: scale(2, 2);
//     -ms-transform: scale(2, 2);
//     -o-transform: scale(2, 2);
//     transform: scale(2, 2);
//     transform: rotateY( 180deg );
//     -moz-transition: all 500ms;
//     -webkit-transition: all 500ms;
//     -o-transition: all 500ms;
// }
// .card img:not(:active) {
//     -webkit-transform: scale(1.25, 1.25);
//     -moz-transform: scale(1.25, 1.25);
//     -ms-transform: scale(1.25, 1.25);
//     -o-transform: scale(1.25, 1.25);
//     transform: scale(1.25, 1.25);
//     transform: rotateY( 360deg );
//     -moz-transition: all 500ms;
//     -webkit-transition: all 500ms;
//     -o-transition: all 500ms;
// }
// .card.back {
//     transform: rotateY(180deg);
//     display: block;
//     background: url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=0&type=card');
// }
