#heading {

}
#left {

}
#right {

}
#center {

}

* {
    overflow: hidden;
}

.chatMessage {
    margin-left: 10px;
    font-size: 1em;
    line-height: 1.3em;
}

#friendIcons {
    margin-top: 15px;
}

#friendIconsContainer > * {
    margin-right: 5px;
}
