#heading {

}
#left {

}
#right {

}
#center {

}

#cardContent {
    overflow-x:hidden;
}

*::-webkit-scrollbar-track {
    background-color: rgb(224,224,224);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(63,81,181);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(63,81,181);
}


.chatMessage {
    margin-left: 10px;
    font-size: 1em;
    line-height: 1.3em;
}

#friendIconsContainer {
    margin-top: 15px;
}

#friendIconsContainer>* {
    margin-right: 5px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250x !important;
    width: 85vw !important;
    max-width: 250px !important;
}

.chatInput {}

.i36 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-top: -3px;
}

md-icon svg {
    fill: inherit;
}

.material-icons {
    line-height: inherit !important;
}

#chat {
    display: flex;
    flex-direction: column;
}
#chat-top {
    flex-shrink: 0;
}
#chat-messages {
    flex: 1;
}
#chat-bottom {
    flex-shrink: 0;
}

md-dialog {
    z-index: 2
}

.cardListSelected {
    background-color: rgb(63,81,181);
}

.cardTile {
}

.card {
    outline: none;
}

.card:focus {
    outline: none;
}

.card:hover {
    z-index: 100;
}

.card img {
    backface-visibility: hidden;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Shadow */
    z-index: 0;
}

.card img:hover {
    box-shadow: 0px 0px 15px #7986CB; /* Shadow */
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    cursor:pointer;
    z-index: 1;
}
.card img:active {
    backface-visibility: hidden;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Shadow */
    z-index: 0;
}
//
// .card img:active {
//     -webkit-transform: scale(2, 2);
//     -moz-transform: scale(2, 2);
//     -ms-transform: scale(2, 2);
//     -o-transform: scale(2, 2);
//     transform: scale(2, 2);
//     transform: rotateY( 180deg );
//     -moz-transition: all 500ms;
//     -webkit-transition: all 500ms;
//     -o-transition: all 500ms;
// }
// .card img:not(:active) {
//     -webkit-transform: scale(1.25, 1.25);
//     -moz-transform: scale(1.25, 1.25);
//     -ms-transform: scale(1.25, 1.25);
//     -o-transform: scale(1.25, 1.25);
//     transform: scale(1.25, 1.25);
//     transform: rotateY( 360deg );
//     -moz-transition: all 500ms;
//     -webkit-transition: all 500ms;
//     -o-transition: all 500ms;
// }
// .card.back {
//     transform: rotateY(180deg);
//     display: block;
//     background: url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=0&type=card');
// }
